*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html{height: 100%;width: 100%;font-size: 100%;line-height: 1;font-size: 14px;-ms-text-size-adjust: 100%;-moz-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;color:#000;}
a:hover{text-decoration: none;}
ul,ol,li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
input[type=text]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=text]::-ms-reveal {  display: none; width : 0; height: 0; }
input[type="search"]::-webkit-search-decoration,input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-results-button,input[type="search"]::-webkit-search-results-decoration { display: none; }
input[type="number"]::-webkit-outer-spin-button,input[type="number"]::-webkit-inner-spin-button {-webkit-appearance: none;}
input[type='number'],input[type="number"]:hover,input[type="number"]:focus {appearance: none;-moz-appearance: textfield;}

/*! ______ОБНУЛЕНИЕ______ */
$color1:#A64CCB;

$maxWidth: 1920;
$maxWidthContainer: 956;

@mixin adaptiv-value($property, $startSize, $minSize, $type) {
$addSize: $startSize - $minSize;
@if $type==1 {
// МЕНЬШЕ КОНТЕЙНЕРА
#{$property}:$startSize + px;
@media (max-width: #{$maxWidthContainer + px}) {
#{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidthContainer - 320}));
}
}
@else if $type==2 {
// БОЛЬШЕ КОНТЕЙНЕРА
#{$property}:$startSize + px;
@media (min-width: #{$maxWidthContainer + px}) {
#{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320}));
}
}
@else {
//ВСЕГДА
#{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320}));
}
}

.container {
   max-width: 1300px;
   padding: 0px 10px;
   margin: 0 auto;
}

body{
   font-family: montserrat;
   font-size: 16px;
   font-weight: 400;
}

.header {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   z-index: 100;
   top: 20px;
   @media (max-width:1320px) {
      top: 10px;
   }
   &__container {
      max-width: 1726px;
      padding: 0px 10px;
      display: grid;
      grid-template-columns: 164px auto 164px;
      margin: 0 auto;
      position: relative;
      &::after{
         position: absolute;
         content: '';
         top: -25px;
         left: -10px;
         width: calc(100% + 20px);
         height: calc(50% + 30px);
         backdrop-filter: blur(10px);
         z-index: 1;
         background: linear-gradient(135deg, rgba(113,49,156,0.2) 0%, rgba(177,30,30,0.2) 37%, rgba(180,125,49,0.2) 67%, rgba(186,187,63,0.2) 96%);
         border-radius: 0 0 99px 99px;
      }
      @media (max-width:1320px) {
         grid-template-columns: 100px auto 100px;
      }
   }

   &__inner {
      grid-column: 1 / 4;
      display: grid;
      grid-template-columns:144px 20px auto ;
      align-items: center;
      position: relative;
      z-index: 2;
      @media (max-width:1320px) {
         grid-template-columns:80px 20px auto ;
      }
   }

   &__logo {
      width: 100%;
      aspect-ratio: 1/1;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      background-color: #ffffff;
      border-radius: 999px;
      box-shadow: 5px 0 25px rgba( 0, 0,0,0.1);
      grid-column: 1/3;
      grid-row: 1 / 2;
      z-index: 2;
      img{
         width: calc(100% - 64px);
         @media (max-width:1320px) {
            width: calc(100% - 20px);
         }
      }
   }

   &__navigation {
      grid-column: 2 / 4;
      grid-row: 1 / 2;
      padding: 20px 10px 20px 30px;
      border-radius: 20px;
      box-shadow: 5px 0 25px rgba( 0, 0,0,0.1);
      position: relative;
      background-color: #ffffff;
      @media (max-width:1320px) {
         padding: 0 10px 0 30px;
         display: flex;
         justify-content: end;
      }
   }
   &__links{
      display: flex;
      justify-content: space-evenly;
      gap: 20px;
      flex-wrap: wrap;
      @media (max-width:1320px) {
         position: absolute;
         flex-direction: column;
         top: calc(100% + 20px);
         right: 0;
         background-color: #ffffff;
         padding: 20px 20px;
         border-radius: 20px;
         transition: .3s;
         transform: translateX(120%);
      }
   }
   &__link {
      text-transform: uppercase;
      font-weight: 500;
      font-size: 12px;
      transition: .1s;
      &:hover{
         font-weight: 700;
      }
   }

   &__burger {
      display: none;
      width: 50px;
      height: 50px;
      padding: 10px 5px;
      span{
         display: inline-block;
         width: 100%;
         height: 3px;
         background-color: #000;
         border-radius: 2px;
         position: relative;
         transition: .3;
         &::before,&::after{
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: #000;
            border-radius: 2px;
            transition: .3s;
         }
         &::before{
            transform: translate3d(0,-9px,0);
         }
         &::after{
            transform: translate3d(0,9px,0);
         }
      }
      @media (max-width:1320px) {
         display: inline-block;
      }
   }
}

._burgerOpen{
   position: relative;
   &::after{
      position: absolute;
      width: 100%;
      height: 130%;
      content: '';
      top: 0;
      left: 0;
      backdrop-filter: blur(10px);
      background-color: #0000005b;
      z-index: 10;
   }
   .header__links{
      transform: translateX(0);
   }
   .header__burger{
      span{
         background-color: transparent;
         &::before{
            transform: translateX(0);
            transform: rotate(-45deg);
         }
         &::after{
            transform: translateX(0);
            transform: rotate(45deg);
         }
      }
   }
}

.btn {
   border-radius: 20px;
   background: linear-gradient(90deg, #C28DD8,#A64CCB);
   text-transform: uppercase;
   color: #ffffff;
   height: 70px;
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 16px;
   position: relative;
   transition: .3;
   overflow: hidden;
   font-weight: 700;
   width: 100%;
   @media (max-width:956px) {
      height: 50px;
      font-size: 13px;
      font-weight: 600;
   }
   span{
      position: relative;
      z-index: 2;
   }
   &::after{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #ffffff;
      transform: translateY(120%);
      transition: .3s;
      z-index: 1;
   }
   &:hover{
      border: 3px solid $color1;
      color: $color1;
      &::after{
         transform: translateY(0);
      }
   }
}

.intro {
   display: flex;
   padding: 236px 0px 100px 0;
   background: url(../img/intro/fon.png) no-repeat center / cover;
   align-items: center;
   @media (max-width:956px) {
      flex-direction: column;
      padding: 100px 0px 40px 0px;
   }
   &__in {
      min-width: 100%;
   }

   &__inner {
      max-width: 50%;
      @media (max-width:956px) {
         max-width: 100%;
      }
   }

   &__block {
      @media (max-width:956px) {
         display: flex;
         flex-direction: column;
         align-items: center;
         text-align: center;
      }
   }

   &__title {
      margin: 0px 0px 50px 0px;
      font-weight: 800;
      @include adaptiv-value('font-size',50 ,30 ,1 );
      max-width: 600px;
      margin: 30px 0px 30px 0px;
   }

   &__subtitle {
      margin: 0px 0px 50px 0px;
      max-width: 430px;
   }

   &__btn {
      max-width: 207px;
   }

   &__img {
      flex:0 0 50%;
      transform: translateX(-100%);
      background: transparent;
      img{
         width: 100%;
      }
      @media (max-width:956px) {
         flex:0 0 100%;
         order: -1;
         transform: translateX(0);
      }
   }
}



.demo {
   display: flex;
   padding: 130px 0px 130px 0;
   background: url(../img/demo/fon.png) no-repeat center / cover;
   align-items: center;
   @media (max-width:956px) {
      flex-direction: column;
      padding: 100px 0px;
   }
   &__in {
      min-width: 100%;
   }

   &__inner {
      max-width: 50%;
      @media (max-width:956px) {
         max-width: 100%;
      }
   }

   &__block {
      @media (max-width:956px) {
         display: flex;
         flex-direction: column;
         align-items: center;
         text-align: center;
      }
   }

   &__title {
      margin: 0px 0px 50px 0px;
      font-weight: 800;
      @include adaptiv-value('font-size',50 ,35 ,1 );
      max-width: 600px;
      margin: 20px 0px 30px 0px;
   }

   &__subtitle {
      margin: 0px 0px 50px 0px;
      max-width: 430px;
   }

   &__btn {
      max-width: 350px;
   }

   &__img {
      flex:0 0 50%;
      transform: translateX(-100%);
      background: transparent;
      img{
         width: 100%;
      }
      @media (max-width:956px) {
         flex:0 0 100%;
         order: -1;
         transform: translateX(0);
      }
   }
}

.escort {
   display: flex;
   background:linear-gradient(90deg,transparent 0,#ffffff84 40%,transparent 100%),right 50% / auto 100% url(../img/escort/right-img.png) no-repeat,url(../img/escort/fon.png) no-repeat center/cover;
   align-items: center;
   @media (max-width:956px) {
      background:linear-gradient(90deg,#ffffffd7 60%,transparent 100%),right 50% / auto 100% url(../img/escort/right-img.png) no-repeat;
   }
   &__in {
      min-width: 100%;
      padding: 290px 0px 190px 0;
      position: relative;
      z-index: 2;
      @media (max-width:956px) {
         padding: 50px 40px;
      }
   }

   &__inner {
      // max-width: 50%;
      @media (max-width:956px) {
         max-width: 100%;
      }
   }

   &__block {
      @media (max-width:956px) {
         display: flex;
         flex-direction: column;
         align-items: center;
         text-align: center;
      }
   }

   &__title {
      margin: 0px 0px 50px 0px;
      font-weight: 800;
      @include adaptiv-value('font-size',50 ,30 ,1 );
      max-width: 700px;
      margin: 20px 0px 30px 0px;
   }

   &__subtitle {
      margin: 0px 0px 50px 0px;
      max-width: 430px;
   }

   &__btn {
      max-width: 350px;
   }

   &__img {
      display: none;
      flex:0 0 50%;
      transform: translateX(-100%);
      background: transparent;
      position: relative;
      z-index: 1;
      img{
         width: 100%;
      }
      @media (max-width:956px) {
         flex:0 0 150%;
         opacity: 0.4;
      }
   }
}
